body {
    font-family: Arial;
}
  
* {
    box-sizing: border-box;
}


.navbar-brand {
    font-size: 36px;

}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 36px;
}

.forecast-date {
    font-size: 18px;
}

.card-row
  
#searchTerm {
    padding: 10px;
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    width: 40%;
    background: #f1f1f1;
}
  
#searchButton {
    float: left;
    width: 15%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
#searchButton :hover {
    background: #0b7dda;
}

.fa.fa-search::before {
    content: "";
    clear: both;
    display: table;
}

