body {
    font-family: Arial;
}
  
* {
    box-sizing: border-box;
}


.navbar-brand {
    font-size: 36px;

}

.search-header {
    font-size: 24px;
    font-weight: bold;
}

.city-name {
    font-size: 36px;
}

.forecast-date {
    font-size: 18px;
}

.col {
    flex: 1 0 0;
    background-color: rgb(125, 188, 247);
    margin:5px;
    color: #212427;
    border-radius: 30px;
}

.badge-danger {
    padding: 3px 4.8px;
}
    
  
#searchTerm {
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    width: 20px;
    background: #f1f1f1;
}
  
#searchButton {
    float: left;
    /* width: 10px; */
    padding: 6px 12px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
#searchButton :hover {
    background: #1681d8;
}

.fa.fa-search::before {
    content: "";
    clear: both;
    display: table;
}

